@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-toggle:focus {
  outline: none;
}

/* Fyrir hverja bar (línu) í hamborgaratákni */
.navbar-toggle span {
  display: block;
  width: 2rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

/* Fela sjálfgefnan checkbox */
.nav-toggle {
  display: none;
}

/* grunn útlit fyrir valmyndina þegar hún er sýnileg */
.nav-menu {
  display: none; /* Byrja með að fela valmyndina */
  flex-direction: column;
  width: 100%; 
  text-align: left;
}

::-webkit-scrollbar {
  display: none;
}

.navbar{
  display: flex;
  justify-content: flex-end;
}

.navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  background-color: rgb(69, 128, 187);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.navbar-toggle:hover{
  transform: scale(1.1);
}

.navbar-toggle:focus {
  outline: none;
}

/* Fyrir hverja bar (línu) í hamborgaratákni */
.navbar-toggle span {
  display: block;
  width: 2rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  transform-origin: 1px;
}

/* Fela sjálfgefnan checkbox */
.nav-toggle {
  display: none;
}

/* grunn útlit fyrir valmyndina þegar hún er sýnileg */
.nav-menu {
  display: none; /* Byrja með að fela valmyndina */
  flex-direction: column;
  width: 12%; 
  text-align: center;
  padding: 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e6f0ff;
  box-shadow: var(--shadow);
}

.nav-menu a{
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 5%;
  margin: 5px;
  box-shadow: var(--shadow);
}

.nav-menu a:hover{
  background-color: #f2f2f2;
}

/* Sýnir valmyndina þegar checkboxið er hakað */
.nav-toggle:checked ~ .nav-menu {
  display: flex;
}


body {
  margin-top: 8%;
  color: black;
  background-color: white;

}

*{
  font-family: "Autour One", system-ui;
  background-image: url('/image/bone.svg');
  background-repeat: repeat-y;
}

header {
  position: fixed;
  display: block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.headerDiv {
  background-color: #003366;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1%;
  box-shadow: var(--shadow);
}

.headerDiv a{
  text-decoration: none;
}

.menu-icon,
.profile-icon {
  font-size: 40px;
  text-decoration: none;
  color: white;
  background-color: rgb(69, 128, 187);
  padding: 5px;
  width: 50px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.menu-icon:hover,
.profile-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}


.logo{
  color: black;
  display: flex;
  font-size: 40px;
  background-color: white;
  width: 20%;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  gap: 20px;
}

.dogBar{
  margin-right: auto;
  margin-left: auto;
  background-color: #e6f0ff;
  width: 40%;
  text-align: center;
  border-radius: 20px;
  color: black;
  padding: 10px;
  box-shadow: var(--shadow);
}

.nav-button{
  background-color: #ffffff;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
  color: black;
}

.nav-button:hover {
  background-color: #f2f2f2;
}

li{
  color: black;
}

.hundar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; /* Centering the .hundar div */
  width: 70%;
  margin-bottom: 5%;
}


.card{
  background-color: white;
  margin: 30px; /* Adjusted margin */
  padding: 15px;
  width: 200px;
  border-radius: 15px;
  box-shadow: var(--shadow); /* Apply shadow */
  transition: transform 0.3s;
  
}

.cardText{
  margin-left: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin-bottom: 10px;
}

.card:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
  cursor: pointer;
}

.signupLogin {
  background-color: #e6f0ff;
  width: 25%;
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 10px;
  
  /* Centering */
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.inputField{
  padding: 1%;
  border-radius: 10px;
}

.signupLogin h1{
  font-size: 40px;
}

.signupLogin button{
  background-color: white;
  padding: 1%;
  border-radius: 10px;
}

.signupLogin button:hover{
  background-color: #f2f2f2;
}

.loginWithIcon img{
  width: 25%;
}

.signupLogin h3{
  font-size: 25px;
}

.signupLogin button{
  background-color: white;
  padding: 1%;
  border-radius: 15px;
  width: 20%;
  box-shadow: var(--shadow);
}

.signupLogin a:hover, .loginWithIcon:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}


.umOkkur{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 15px;
  padding: 1%;
  border-radius: 25px;
  background-color: #003366;
  box-shadow: var(--shadow);
  margin-bottom: 5%;
}

.umOkkurTexti{
  margin-top: 10px;
  padding: 1%;
  text-align: center;
  border-radius: 25px;
  background-color: #e6f0ff;
  box-shadow: var(--shadow);
  width: 100%;
}

.umOkkur h1{
  text-align: center;
  font-size: 150%;
  background-color: white;
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  padding: 1%;
}

.umOkkur h2{
  font-size: 20px;
  padding: 1%;
}

.umOkkur p{
  margin-top: 15px;
  padding: 1%;
  border-radius: 15px;
  text-align: center;
}

.umOkkur img{
  width: 50%;
  border-radius: 15px;
  box-shadow: var(--shadow);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.umOkkurMyndir{
  display: flex;
  margin: 10px;
  gap: 10px;
  justify-content: center;
}

.umOkkurTexti a{
  color: rgb(69, 128, 187);
  text-decoration: underline;
}

.umOkkurTexti a button{
  padding: 1%;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: var(--shadow);
}

.umOkkurTexti a button:hover{
  background-color:#f2f2f2;
}

.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: var(--shadow);
  background-color:#e6f0ff;
  border-radius: 15px;
  position: relative;
  top: 20px;
}

.contact-container h1 {
  text-align: center;
  font-size: 25px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  margin-bottom: 10px;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.contact-container button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.contact-container button:hover {
  background-color: #0056b3;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #003366;
  color: white;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  background-color: rgb(69, 128, 187);
  border-radius: 5px;
  padding: 5px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  bottom: 100%;
  background-color: white;
  min-width: 200px;
  box-shadow: var(--shadow);
  z-index: 1000;
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  border-radius: 15px;
}

.dropdown a:hover{
  background-color: #f2f2f2;
}

footer button:hover{
  background-color: rgb(47, 97, 148);
}

.dropdown:hover{
  background-color: rgb(47, 97, 148);
}

.cursor-pointer {
  cursor: pointer;
}

.scroll-to-top-button {
  background-color: rgb(69, 128, 187);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  outline: none;
  display: inline-block; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
