@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin-top: 10%;
  color: black;
  background-color: white;
}

*{
  font-family: "Autour One", system-ui;
}


header {
  position: fixed;
  display: block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.headerDiv {
  background-color: #003366;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1%;
  box-shadow: var(--shadow);
}

.headerDiv a{
  text-decoration: none;
}

.menu-icon,
.profile-icon {
  font-size: 40px;
  text-decoration: none;
  color: white;
  background-color: rgb(69, 128, 187);
  padding: 5px;
  width: 50px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.menu-icon:hover,
.profile-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.logo {
  font-size: 40px;
}

.dogBar{
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #e6f0ff;
  padding: 10px;
  width: 40%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: var(--shadow);
  color: black;
}

.navBar{
  text-align: center;
  background-color: #e6f0ff;
  width: 7%;
  padding: 10px;
  border-bottom-right-radius: 15px;
  box-shadow: var(--shadow);
  color: black;
}

.navbar a{
  background-color: white;
  width: 100%;
  padding: 5%;
  border-radius: 10px;
  margin: 5px;
  display: block;
  margin-right: auto;
  margin-left: 0px;
}

.navbar a:hover{
  background-color: whitesmoke;
  cursor: pointer;
}

.navBar a{
  color: black;
  background-color: white;
}

.navbar a:hover{
  text-decoration: none;
}

.nav-button{
  background-color: #ffffff;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
  color: black;
}

.nav-button:hover {
  background-color: #f2f2f2;
}

li{
  color: black;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
